body {
    font-family: Arial, sans-serif;
    background-color: #a7c4aad7;
    margin: 0;
}

.radio-container {
  display: flex;
  justify-content: center;  
}

.radio-container label:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.radio-container label {
  display: inline-block;
  margin-right: 5px;
  margin-left: 50px;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.radio-container label {
  margin: 20px;
  cursor: pointer;
  text-align: center;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
  
.results-table {
  margin: 0 auto;
  table-layout: fixed;
  width: 600px;
  border-collapse: separate;
  border: 3px solid  #44644e;
  border-radius: 10px;
  background-color: #749974;
  border-collapse: collapse;
  border-spacing: 0;

}

.results-table th {
  text-align: center;
  border: 3px solid #44644e;
  padding: 8px;
}

.results-table td {
  text-align: center;
  border: 1px solid #557c62;
  padding: 5px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 30px;
}

h1 {
  text-align: center;
}

.input-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.input-wrapper label {
  flex-basis: 150px;
  margin-right: 10px;
  align-self: center;

}

.input-wrapper input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.select-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.select-wrapper label {
  flex-basis: 150px;
  margin-right: 10px;
}

.select-wrapper select {
  padding: 10px
}  